/* 1. BRAND COLORS & FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --primary-dark: #120e3a;    /* Certo Dark Blue */
    --brand-purple: #4633b6;    /* Certo Main Purple */
    --hover-purple: #35269b;    /* Darker Purple for Hover */
}

body {
    font-family: 'Poppins',  sans-serif;
    margin: 0;
    padding: 0;
}
